.btn {
  display: inline-flex;
  padding: 15px 25px;
  align-items: center;
  justify-content: center;

  font-family: $ff-roboto;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;

  transition: all $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  // @include hover-focus {
  //   opacity: 0.8;
  // }
}
