.feedback-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 20px;
  align-items: start;

  &--modal {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 17px;
  }

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 19px;
  }
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 14px 15px;
  font: inherit;
  color: inherit;
  background-color: rgba(4, 20, 39, 0.15);
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background-color $trans-default;

  &::placeholder {
    font: inherit;
    color: inherit;
  }

  @include hover-focus {
    background-color: rgba(4, 20, 39, 0.1);
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}

.feedback-form:not(.feedback-form--modal) .feedback-form__question {
  grid-column: span 2;

  @include vp-767 {
    grid-column: span 1;
  }
}

.feedback-form textarea {
  height: 155px;
  padding: 22px 15px;

  @include vp-1023 {
    padding: 28px 15px;
  }

  @include vp-767 {
    height: 180px;
    padding: 20px 15px;
  }
}

.feedback-form__button {
  min-width: 265px;
  margin-top: 7px;
  padding: 13px 25px;
  justify-self: start;
  font-size: 16px;
  line-height: 19px;
  background-color: $color-black-pearl;
  color: $color-default-white;

  &--modal {
    margin-top: 0;
    width: 100%;
  }

  @include vp-767 {
    min-width: 100%;
    margin-top: 4px;
  }

  @include hover-focus {
    background-color: transparent;
    border-color: $color-black-pearl;
    color: $color-black-pearl;
  }
}

.feedback-form__checkbox label {
  margin: 20px 0 0 12px;
  display: grid;
  grid-template-columns: 15px auto;
  align-items: center;
  justify-self: end;
  gap: 11px;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

  @include vp-1023 {
    margin: 18px 0 0;
  }

  @include vp-767 {
    margin: 4px 5px 0;
  }
}

.feedback-form__checkbox--modal label {
  margin: 3px 0 0 7px;
}

.feedback-form input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.feedback-form input[type="checkbox"] + span {
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
}

.feedback-form input[type="checkbox"]:checked + span {
  background-image: url("../../img/svg/checkbox-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback-form__checkbox label:hover input[type="checkbox"] + span,
.feedback-form__checkbox label:focus-within input[type="checkbox"] + span {
  border-color: rgba(4, 24, 39, 0.5);
}
