.product-card {
  max-width: 350px;
  min-height: 650px;
  background-color: #12476b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--production {
    background-image: url("../img/production-bg.jpg");

    @supports (background-image: url("../img/production-bg.webp")) {
      background-image: url("../img/production-bg.webp");
    }
  }

  &--installation {
    background-image: url("../img/installation-bg.jpg");
  }

  &--lighting-details {
    background-image: url("../img/lighting-details-bg.jpg");
  }

  @include vp-1023 {
    min-width: 100%;
    min-height: 250px;

    &--production {
      background-image: url("../img/production-bg-tablet.jpg");

      @supports (background-image: url("../img/production-bg-tablet.webp")) {
        background-image: url("../img/production-bg-tablet.webp");
      }
    }

    &--installation {
      background-image: url("../img/installation-bg-tablet.jpg");

      @supports (background-image: url("../img/installation-bg-tablet.webp")) {
        background-image: url("../img/installation-bg-tablet.webp");
      }
    }

    &--lighting-details {
      background-image: url("../img/lighting-details-bg-tablet.jpg");

      @supports (background-image: url("../img/lighting-details-bg-tablet.webp")) {
        background-image: url("../img/lighting-details-bg-tablet.webp");
      }
    }
  }

  @include vp-767 {
    &--production {
      background-image: url("../img/production-bg-mobile.jpg");

      @supports (background-image: url("../img/production-bg-mobile.webp")) {
        background-image: url("../img/production-bg-mobile.webp");
      }
    }

    &--installation {
      background-image: url("../img/installation-bg-mobile.jpg");

      @supports (background-image: url("../img/installation-bg-mobile.webp")) {
        background-image: url("../img/installation-bg-mobile.webp");
      }
    }

    &--lighting-details {
      background-image: url("../img/lighting-details-bg-mobile.jpg");

      @supports (background-image: url("../img/lighting-details-bg-mobile.webp")) {
        background-image: url("../img/lighting-details-bg-mobile.webp");
      }
    }
  }

  @include retina {
    @media (min-width: ($vp-1024)) {
      &--production {
        background-image: url("../img/production-bg@2x.jpg");

        @supports (background-image: url("../img/production-bg@2x.webp")) {
          background-image: url("../img/production-bg@2x.webp");
        }
      }

      &--installation {
        background-image: url("../img/installation-bg@2x.jpg");

        @supports (background-image: url("../img/installation-bg@2x.webp")) {
          background-image: url("../img/installation-bg@2x.webp");
        }
      }

      &--lighting-details {
        background-image: url("../img/lighting-details-bg@2x.jpg");

        @supports (background-image: url("../img/lighting-details-bg@2x.webp")) {
          background-image: url("../img/lighting-details-bg@2x.webp");
        }
      }
    }

    @include vp-1023 {
      &--production {
        background-image: url("../img/production-bg-tablet@2x.jpg");

        @supports (background-image: url("../img/production-bg-tablet@2x.webp")) {
          background-image: url("../img/production-bg-tablet@2x.webp");
        }
      }

      &--installation {
        background-image: url("../img/installation-bg-tablet@2x.jpg");

        @supports (background-image: url("../img/installation-bg-tablet@2x.webp")) {
          background-image: url("../img/installation-bg-tablet@2x.webp");
        }
      }

      &--lighting-details {
        background-image: url("../img/lighting-details-bg-tablet@2x.jpg");

        @supports (background-image: url("../img/lighting-details-bg-tablet@2x.webp")) {
          background-image: url("../img/lighting-details-bg-tablet@2x.webp");
        }
      }
    }

    @include vp-767 {
      &--production {
        background-image: url("../img/production-bg-mobile@2x.jpg");

        @supports (background-image: url("../img/production-bg-mobile@2x.webp")) {
          background-image: url("../img/production-bg-mobile@2x.webp");
        }
      }

      &--installation {
        background-image: url("../img/installation-bg-mobile@2x.jpg");

        @supports (background-image: url("../img/installation-bg-mobile@2x.webp")) {
          background-image: url("../img/installation-bg-mobile@2x.webp");
        }
      }

      &--lighting-details {
        background-image: url("../img/lighting-details-bg-mobile@2x.jpg");

        @supports (background-image: url("../img/lighting-details-bg-mobile@2x.webp")) {
          background-image: url("../img/lighting-details-bg-mobile@2x.webp");
        }
      }
    }
  }
}

.product-card__link {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  padding: 46px 40px;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: $color-deep-sky-blue;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color $trans-default;
  }

  @include vp-1023 {
    padding: 38px 45px;
  }

  @include vp-767 {
    padding: 25px 30px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  @include hover-focus {
    &::before {
      background-color: $color-black-pearl;
    }
  }

  &:active {
    opacity: 0.8;
  }
}

.product-card__title {
  max-width: 170px;
  margin: 0 0 10px 0;
  font-family: $ff-roboto;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $color-default-white;

  @include vp-1023 {
    max-width: 150px;
  }

  @include vp-767 {
    max-width: 135px;
    font-size: 18px;
    line-height: 30px;
  }
}
