.products {
  background-color: $color-black-pearl;
}

.products__container {
  padding: 66px 0 130px;
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    align-items: center;
    padding: 57px 0 66px;
  }

  @include vp-767 {
    padding: 47px 0 76px;
  }
}

.products__title {
  margin: 0 0 54px 0;
  color: $color-default-white;

  &::before {
    width: 100%;
    height: 100%;
    content: "Smart Device предлагает следующие товары и услуги";
  }

  @include vp-1023 {
    margin-bottom: 37px;
  }

  @include vp-767 {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 40px;

    &::before {
      width: 100%;
      height: 100%;
      content: "Товары и услуги Smart Device";
    }
  }

  @include vp-374 {
    max-width: 200px;
    align-self: start;
  }
}

.products__list {
  list-style-type: none;
  margin: 0 0 10px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
